%h1 What is this?
%p
	Here you will find collections of words and phrases sorted into various
	categories. You can also submit your own to improve the lists. 
%h1 Why does this exist?
%p
	I created this website in the process of making a catch-phase-like game. I was
	unable to find any good collections of words sorted into categories on the
	internet. Since creating the lists myself is too time-consuming, I am hoping
	that allowing anybody to contribute a few words would allow the creation of
	useful lists that anybody can use for their projects.
%h1 Why aren't all the words showing up when I click download?
%p
	I have implemented a voting system
	so that any word with less than
	= word_threashold
	votes will not show up in the downloads. This is for two reasons. One, to
	ensure quality of words by making sure that multiple suggest that word before
	it shows up. Two, to reduced the likelihood of slightly different duplicate
	words by promoting the most popular version.
%h1 Why must categories be voted on before I can upload words to them?
%p
	This is to encourage people to submit to the current categories instead of
	creating new ones, in hopes to prevent a large number of very short lists.
%h1 How should I spell/capitalize/punctuate my words?
%p
	Words should use the United States spelling and should only be capitalized if
	they are proper nouns. Punctuation should also be the most standard case. When
	in doubt, look up your word in a dictionary and copy that.
%h1 How do you make sure that I don't submit the words over and over again until they are added to the list?
%p
	I store a cookie in your browser to prevent you from submitting the same word multiple times.
%h1 Couldn't I just delete the cookie or turn cookies off?
%p
	Please don't do that.


