= flash(@flash)
%form{method: 'post'}
  %input{type: 'textbox', name: 'category'}
  %input{type: 'submit', value: 'Suggest Category'}
    %span.note
      -if @categories.empty?
        There doesn't seem to be any suggested categories. Please suggest one.
      -else
        = category_threashold
        votes to add
-if @categories.size > 0
  %table
    %tr
      %th votes
      %th categories
    -@categories.each do |category|
      %tr
        %td=category.votes
        %td=h category
