%body
  %h1 Category Vote
  %form{method: 'post'}
    %input{type: 'textbox', name: 'category'}
    %input{type: 'submit', value: 'Suggest Category'}
      -if @categories.empty?
        %span.note
          There doesn't seem to be any suggested categories. Please suggest one.
  -if @categories.size > 0
    %table
      %tr
        %th votes
        %th categories
      -@categories.each do |category|
        %tr
          %td=category.votes
          %td=h category
