%header
  #logo
    %a{href: url('/')}
      %h1 Word Lists
  #nav
    %ul
      %li
        %a{nav_link('/')} Word Lists
      %li
        %a{nav_link('/upload')} Upload
      %li
        %a{nav_link('/category_vote')} Category Vote
      %li
        %a{nav_link('/about')} About
