//colors
$background: white;
$header_background: #A5E3E2;
$footer_background: #A5E3E2;

$table_background: #eee;
$table_border_background: #aaa;

$note_background: #A5E3E2;
$flash_background: #A5E3AC;
$error_background: #E3A5A7;

//values
$footer_height: 25px;
$footer_padding: 10px;
$negative_footer_height: -35px; //padding - height

* {
  margin: 0;
  font-family: Helvetica, sans;
}

//Sticky footer
html, body {
  height: 100%;
  background-color: $background;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $negative_footer_height;
}

footer, .push {
  height: $footer_height
}

header {
  background-color: $header_background;
  height: 60px;

  a {
    color: black;
    text-decoration: none;
  }

  #logo {
    float: left;
    padding: { top: 12px; left: 20px; }

    h1 {
      font-family: DejaVu, sans;
    }
  }

  #nav {
    float: right;
    padding: { top: 30px; left: 20px; right: 40px; }

    li {
      display: inline;
      list-style-type: none;

      a {
        padding: { top: 16px; right: 20px; bottom: 11px; left: 20px; }
      }

      a.current {
        background-color: $background;
      }

      a:hover {
        background-color: $background;
      }
    }
  }
}

footer {
  background-color: $footer_background;
  font-size: 0.8em;
  padding: { left: 20px; top: $footer_padding; }
}

#content {
  padding: { left: 20px; right: 20px; top: 20px; bottom: 20px; }

  h1 {
    font-size: 1.3em;
  }

  p {
    font-size: 1.1em;
    padding: { bottom: 10px; top: 10px; }
  }

  form {
    label {
      color: #555;
    }
    padding: { bottom: 10px; top: 10px; }
  }

  .note {
    font-size: 0.9em;
    background-color: $note_background;
    padding: { left: 5px; right: 5px; top: 2px; bottom: 2px; }
    margin: { left: 5px; }
  }

  .flash {
    font-size: 1.2em;
    background-color: $flash_background;
    padding: { left: 5px; right: 5px; top: 2px; bottom: 2px; }
  }

  .error {
    font-size: 1.2em;
    background-color: $error_background;
    padding: { left: 5px; right: 5px; top: 2px; bottom: 2px; }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;

    tr:nth-child(odd) {
      background-color: $table_background;
    }

    tr:nth-child(even) {
      background-color: $background;
    }

    td, th {
      padding: { top: 5px; bottom: 5px; right: 20px; left: 20px; }
    }

    td:nth-child(1) {
      text-align: center;
      border: { right: 3px solid $table_border_background; }
    }

    th {
      text-align: center;
      background-color: $table_border_background;
    }

  }

  table#word-lists {

    td {
      border: none;
    }

    td:nth-child(1) {
      text-align: left;
    }

    td:nth-child(2), td:nth-child(3) {
      text-align: right;
    }
  }
}
