= flash(@flash)
%p
  You can upload words and phrases to relevant lists by typing them below or uploading a text file.
  Don't worry if your words are already in the list; if it is it will be 'upvoted'.
%form{method: 'post', enctype: 'multipart/form-data'}
  %p
    %label{:for => 'words'} Type words or phrases here separated by commas or newlines. 
    %br
    %textarea{name: 'words', cols: 60, rows: 10}
  %p
    %label{:for => 'words'} Or you can upload a file.
    %br
    %input{type: 'file', name: 'file'}
  %p
    %label{:for => 'category'} Now choose a category for your words.
    %br
    %select{name: 'category'}
      -@categories.each do |category|
        %option{value: category, selected: ('selected' if category.to_s == @selected_category)}=category
    %span.note
      Don't see the proper category? You can
      %a{href: url('/category_vote')} vote
      to include it.
  %p
    %input{type: 'submit', value: 'Upload', on_click: 'submit();', id: 'submit'}
