%h1 Word Lists
%table{id: 'word-lists'}
  -@categories.each do |category|
    %tr
      %td=h category
      %td
        %a{href: url("/word_lists/view/#{h_uri(category)}?page=1")} view
      %td
        %a{href: url("/word_lists/download/#{h_uri(category)}")} download
