%table{id: 'word-lists'}
  -@categories.each do |category|
    %tr
      %td=h category
      %td
        %a{href: url("/view/#{h_uri(category)}?page=1")} view
      %td
        %a{href: url("/download/#{h_uri(category)}")} download
